/* * {
  border: 1px solid black;
} */
body{
    height: 100vh;
}
​
span{
    color: red;
}
#header{
    border-bottom: 7px solid red;
    background-color: black;
  
    
}
.container {
    width: 80%;
    margin: auto;
    overflow:hidden;
    font-family: "Audiowide", sans-serif;
    color: white;
}
​
#header .container{
    /* border: 5px solid blue ; */
    justify-content:space-between;
    display: flex;
    align-items: center;
    
    
​
}
li{
    display: inline;
    padding: 0 20px;
} 
​
#header a{
    color: white;
    text-decoration: none;
}
#main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("banner.jpg");
    background-size: cover;
    height: 90vh;
    /* background-repeat: no-repeat;
    background-position: center; */
    /* background-attachment: fixed; */
    text-align: center;
    
       
}
#main h1{
    font-size: 61px;
    margin: 300px 0 10px ;
}
#main p{
    font-size: 30px;
    
}
​
#about, #contact {
    background-color: black;
    color: white;
}
#about h2, #contact h2 {
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    color: red;
}
#about p, #contact p {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    padding: 0 10px;
}