USE [LibDatabase]
GO

CREATE SCHEMA [Book]
GO

CREATE SCHEMA [Person]
GO

CREATE TABLE [Book].[Author](
	[Author_ID] [int] NOT NULL,
	[Author_FirstName] [nvarchar](50) NOT NULL,
	[Author_LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_author] PRIMARY KEY CLUSTERED 
(
	[Author_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [Book].[Book](
	[Book_ID] [int] NOT NULL,
	[Book_Name] [nvarchar](50) NOT NULL,
	[Author_ID] [int] NOT NULL,
	[Publisher_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [Book].[Publisher](
	[Publisher_ID] [int] IDENTITY(1,1) NOT NULL,
	[Publisher_Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Publisher_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [Person].[Loan](
	[SSN] [bigint] NOT NULL,
	[Book_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SSN] ASC,
	[Book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [Person].[Person](
	[SSN] [bigint] NOT NULL,
	[Person_FirstName] [nvarchar](50) NULL,
	[Person_LastName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [Person].[Person_Mail](
	[Mail_ID] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[SSN] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [Person].[Person_Phone](
	[Phone_Number] [bigint] NOT NULL,
	[SSN] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Phone_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Book].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Author] FOREIGN KEY([Author_ID])
REFERENCES [Book].[Author] ([Author_ID])
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Author]
GO
ALTER TABLE [Book].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Publisher] FOREIGN KEY([Publisher_ID])
REFERENCES [Book].[Publisher] ([Publisher_ID])
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Publisher]
GO
ALTER TABLE [Person].[Loan]  WITH CHECK ADD  CONSTRAINT [FK_book] FOREIGN KEY([Book_ID])
REFERENCES [Book].[Book] ([Book_ID])
ON DELETE CASCADE
GO
ALTER TABLE [Person].[Loan] CHECK CONSTRAINT [FK_book]
GO
ALTER TABLE [Person].[Loan]  WITH CHECK ADD  CONSTRAINT [FK_PERSON] FOREIGN KEY([SSN])
REFERENCES [Person].[Person] ([SSN])
GO
ALTER TABLE [Person].[Loan] CHECK CONSTRAINT [FK_PERSON]
GO
ALTER TABLE [Person].[Person_Mail]  WITH CHECK ADD  CONSTRAINT [FK_Person4] FOREIGN KEY([SSN])
REFERENCES [Person].[Person] ([SSN])
GO
ALTER TABLE [Person].[Person_Mail] CHECK CONSTRAINT [FK_Person4]
GO
ALTER TABLE [Person].[Person_Phone]  WITH CHECK ADD  CONSTRAINT [FK_Person2] FOREIGN KEY([SSN])
REFERENCES [Person].[Person] ([SSN])
GO
ALTER TABLE [Person].[Person_Phone] CHECK CONSTRAINT [FK_Person2]
GO
ALTER TABLE [Person].[Person]  WITH CHECK ADD  CONSTRAINT [CHECK_SSN] CHECK  (([SSN]>(9999999999.) AND [SSN]<=(99999999999.)))
GO
ALTER TABLE [Person].[Person] CHECK CONSTRAINT [CHECK_SSN]
GO
